PORT=3000

# Google Places API (server-side only)
GOOGLE_PLACES_API_KEY=your_google_places_api_key
GOOGLE_PLACE_ID=your_google_place_id

# Public site configuration
SITE_BUSINESS_NAME=Leaside Fades
SITE_PHONE_E164=+16473482200
SITE_PHONE_DISPLAY=+1 (647) 348-2200
SITE_GOOGLE_MAPS_URL=https://www.google.com/maps/place/Leaside+Fades/@43.7137557,-79.3678747,17z/data=!3m1!4b1!4m6!3m5!1s0x89d4cd3cbeae8bc3:0xc528126035583aff!8m2!3d43.7137557!4d-79.3652998!16s%2Fg%2F11xmhwymps?entry=ttu&g_ep=EgoyMDI2MDIxNi4wIKXMDSoASAFQAw%3D%3D
SITE_INSTAGRAM_URL=https://www.instagram.com/explore/locations/108041690603158/leaside-fades/
SITE_FACEBOOK_URL=https://www.facebook.com/p/Leaside-FADES-100067481677284/
SITE_BOOKING_URL=
SITE_BOOKING_NOTICE=Online booking will be enabled via Fresha once the owner account is ready.
